<h1>About</h1>
<div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">This is  an application where you can login and save your ideas (it also uses the voice recognition API , to make adding ideas even better). It uses MongoDB, Node, express, and handlebars (templating engine) and a lot of modules.  </p>
    <hr class="my-4">
    <p class="lead">
        <p class="lead">If you want to learn more about me , you can visit my personal website </p>
        <a class="btn btn-primary btn-lg" href="https://m-abdelwahab.github.io">Learn more</a>
    </p>
</div>